@page "/grpc_test"
@using Google.Protobuf.WellKnownTypes
@using Grpc.Core
@using Grpc.Net.Client
@using Grpc.Net.Client.Web
@using BlazorGrpcWebApp.Shared
@using BlazorApp

@inject BlazorGrpcWebApp.Shared.Greeter.GreeterClient GreeterClient

<PageTitle>Greetings</PageTitle>

<h1>gRPC example</h1>

<p role="status">message from server:@message</p>


@code {
    private string message = "Waiting for response...";

    override protected async Task OnInitializedAsync()
    {
        var response = await GreeterClient.GreetAsync(new GreetRequest { Name = "MeBlazor" });
        message = response.Message;
    }
}    

